# docker-compose.yml
services:
  web:
    container_name: alpha-player
    restart: always
    build: .
    ports:
      - "8002:8002"
    command: python manage.py runserver 0.0.0.0:8002
    volumes:
    - .:/code
    env_file:
      - .env
    environment:
      - TZ=Asia/Tashkent
    depends_on:
      - db

  db:
    container_name: alpha_player
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PORT=${DB_PORT}  
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    restart: always

volumes:
  postgres_data