{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock title %}

{% block content %}

<div class="sm:grid grid-cols-5 gap-6">
    <div class="col-span-3 m-3 ">
        <img src="{{ item.image.url }}" class="rounded-xl object-cover mx-auto dark:brightness-75" style="width: 100%; max-width: 600px; height: auto; max-height: 600px;" alt="">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 dark:text-white dark:bg-gray-800 rounded-xl text-center md:text-left">

        <div class="sm:flex flex-col justify-between md:w-3/4">
            <div>
                <h1 class="text-gray-500 dark:text-white md:text-3xl text-left">${{item.title}}</h1>
            </div>
            {% if item.length %}
            <div>
                <p>Length: {{ item.length }}</p>
            </div>
            {% endif %}
            {% if item.lyrics %}

                <p>Colors: {{ item.lyrics }}</p>
            {%  endif %}

            {% if item.file %}
                <audio controls class="w-full mt-2">
                    <source src="{{ item.file.url }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
        </div>

        {% if item.description %}
        <p class="text-gray-700 dark:text-white">
            <strong class="text-gray-500 dark:text-white">Description:</strong>
            <br>
            {{item.description}}
        </p>
        {% endif %}

    </div>

</div>

{% endblock content %}



