{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock title %}

{% block content %}
<div class="sm:grid grid-cols-5 gap-6">
    <div class="col-span-3 m-3 ">
        <img
            src="{{ item.image.url }}"
            class="rounded-xl object-cover mx-auto dark:brightness-75"
            style="width: 100%; max-width: 600px; height: auto; max-height: 600px;"
            alt=""
        >
    </div>
    <div class="col-span-2 p-6 bg-gray-100 dark:text-white dark:bg-gray-800 rounded-xl text-center md:text-left">
        <div class="sm:flex flex-col justify-between md:w-3/4">
            <div>
                <h1 class="text-gray-500 dark:text-white md:text-3xl text-left">${{item.title}}</h1>
            </div>
            {% if item.length %}
            <div>
                <p>Length: {{ item.length }}</p>
            </div>
            {% endif %}
            {% if item.lyrics %}
            <p>Colors: {{ item.lyrics }}</p>
            {%  endif %}

            {% if item.file %}
            <audio controls class="w-full mt-2">
                <source src="{{ item.file.url }}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
        </div>
        {% if item.description %}
        <p class="text-gray-700 dark:text-white">
            <strong class="text-gray-500 dark:text-white">Description:</strong>
            <br>
            {{item.description}}
        </p>
        {% endif %}
        <div class="mt-4 flex gap-4">
            <div>
                <!-- Share Link Button -->
                <button id="copyButton" class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                    Copy Link
                </button>
            </div>
            <div>
                <!-- Telegram Share Button -->
                <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text=Check%20out%20this%20item%20on%20Alpha%20Player!">
                    <button class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                        Share on Telegram
                    </button>
                </a>
            </div>
        </div>
        <div class="mt-8">
            <a href="{% url 'core:index' %}">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition duration-300">
                    Go back
                </button>
            </a>
        </div>
    </div>
</div>
<script>
    document.getElementById('copyButton').addEventListener('click', function() {
      
        var input = document.createElement('input');
        input.value = window.location.href; 
        document.body.appendChild(input);

        input.select();
        input.setSelectionRange(0, 99999);

        document.execCommand('copy');

        document.body.removeChild(input);

        alert('Link copied to clipboard!');
    });
</script>
{% endblock content %}
