{% extends 'core/base.html' %}

{% block title %}Playlist detail {% endblock title %}

{% block content %}
    <div class="sm:px-6 px-3 w-full   bg-gray-800 text-white rounded-xl shadow-xl">
        <h2 class="md:mb-12 mb-3 font-medium text-2xl text-center">Playlist</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for item in playlist_detail %}
            <div class="bg-gray-900 rounded-2xl shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 flex flex-col">
                <a href="{% url 'item:music_detail' item.id %}" class="group">
                    <img src="{{ item.image.url }}"
                        alt="Music Cover"
                        class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-300 rounded-t-2xl" />
                </a>
                <div class="p-4 flex flex-col justify-between flex-grow">
                    <div class="mb-4">
                        <h2 class="text-lg font-semibold text-white line-clamp-2">{{ item.title }}</h2>
                        <p class="text-sm text-gray-300 truncate">{{ item.description }}</p>
                        <p class="text-xs text-gray-400 mt-1">By {{ item.author }}</p>
                    </div>

                    {% if item.file %}
                    <div class="mb-3">
                        <audio controls class="w-full rounded-md">
                            <source src="{{ item.file.url }}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    {% endif %}

                    <div class="mt-auto flex justify-between items-center">
                        <span class="text-xs bg-slate-200 dark:bg-slate-700 text-slate-700 dark:text-slate-200 px-3 py-1 rounded-full">
                            {{ item.category }}
                        </span>
                        <a href="{% url 'item:music_detail' item.id %}" class="text-green-500  text-md font-medium hover:underline">
                            Details →
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>







    </div>
    <div class="mt-6 sm:px-6 px-3 py-12 bg-gray-100 dark:bg-gray-900 dark:text-white rounded-xl shadow-2xl">
        <h2 class="mb-12 text-2xl text-center font-medium">Categories</h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 sm:gap-3 gap-2">
            {% for category in categories %}

            <div>
                <a href="{% url 'item:items' %}?category={{category.id}}">
                    <div class="p-6  bg-white dark:bg-gray-800 rounded-xl shadow-xl">
                        <h2 class="sm:text-2xl break-words">{{ category.name }}</h2>
                        <p class="text-gray-500">{{category.items.count}} items</p>
                    </div>
                </a>
            </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}
